*{
    margin: 0;
    padding: 0;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

:root {

    /* Color principal del diseño */
    --primary: #3713ec;

    /* Fondos */
    --bg-light: #f6f6f8;
    --bg-dark: #0a0a0b;

    /* Texto */
    --text-light: #0f172a;
    --text-dark: #ffffff;

    /* Bordes */
    --border-light: #e2e8f0;
    --border-dark: rgba(255, 255, 255, .1);

    /* Vidrio */
    --glass: rgba(255, 255, 255, .03);

    /* Radios */
    --radius-2xl: 1rem;
    /* equivalente a rounded-2xl */

    /* Animación estándar */
    --transition: .3s ease;
}

body.light{
    font-family: "Manrope", system-ui, sans-serif;
    background: var(--bg-light);
    color: var(--text-light);
    transition: var(--background) .3s, color .3s;
}

body.dark {
    font-family: "Manrope", system-ui, sans-serif;
    background: var(--bg-dark);
    color: var(--text-dark);
    transition: var(--background) .3s color .3s;
}

.header {
    position: sticky;
        top: 0;
    
        z-index: 2;
    
        backdrop-filter: blur(10px);
    
        background: rgba(255, 255, 255, .6);
    
        border-bottom: 1px solid var(--border-light);
}

body.dark .header{
        background: rgba(10, 10, 11, .6);
        border-bottom: 1px solid var(--border-dark);
}

.header .container {

    display: flex;

    align-items: center;

    justify-content: space-between;

}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.link{
    padding: 20px;
    color: inherit;
    font-weight: 600;
    position: relative;
    transition: var(--transition);
}

.link::after {

    content: "";

    position: absolute;

    bottom: -4px;
    left: 0;

    width: 0%;
    height: 2px;

    background: var(--primary);

    transition: var(--transition);
}

.link:hover::after {
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
    max-width: 1600px;
    padding: 5rem 1.5rem 2rem 1.5rem;
    box-sizing: border-box;
}

.hero-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
            gap: 3rem;
            align-items: center;
}
@media(max-width:1024px) { /*Responsive*/
    .hero-grid {
        grid-template-columns: 1fr;
    }
}

.avatar-wrapper {
    position: relative;
    margin-left: auto;
    width: 550px;
    height: 550px;
    /* cuadrado perfecto */
    border-radius: var(--radius-2xl);
    overflow: hidden;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    isolation: isolate;
    /* opcional, indica interactividad */
}


/* Glow opcional */
.avatar-wrapper::before {
    content: "";
    position: absolute;
    inset: -16px;
    background: var(--primary);
    filter: blur(80px);
    opacity: 0.25;
    z-index: -1;
}

/* Imagen */
.avatar-wrapper img.avatar {
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: 100% 40%;
    display: block;
    
    /* Blanco y negro por defecto */
    filter: grayscale(100%);
    transition: filter 0.5s ease-in-out;
    /* transición suave */
}

/* Cuando el ratón pasa por encima → color */
.avatar-wrapper:hover img.avatar {
    filter: grayscale(0);
}

/*Borders RGB*/

.rgb-border {

    position: absolute;
    inset: 0;

    border-radius: var(--radius-2xl);

    padding: 2px;
    /* grosor del borde */

    overflow: hidden;
}

.rgb-border::before {

    content: "";

    position: absolute;

    inset: -50%;

    background: conic-gradient(transparent 40%,
            var(--primary),
            #8b5cf6,
            #3b82f6,
            var(--primary));

    animation: spin 8s linear infinite;
}

.rgb-inner {

    position: relative;

    width: 100%;
    height: 100%;

    border-radius: calc(var(--radius-2xl) - 2px);

    overflow: hidden;

    background: var(--bg-light);
}

body.dark .rgb-inner {
    background: var(--bg-dark);
}


/*Cards*/
.project-cards {

    background: var(--glass);

    backdrop-filter: blur(12px);


    border-radius: 1rem;
    padding: 2rem;
}

body.dark .project-cards{
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid var(--border-dark);
}
body.light .project-cards {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid var(--border-light);
}

.title {

    font-size: clamp(3rem, 6vw, 4.5rem);

    line-height: 1.1;

    font-weight: 900;
}

.strong {
    font-weight: 900;
    line-height: 1.2;
    background: linear-gradient(90deg, var(--primary), #a78bfa);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.description { /*Descripción debajo del título principal*/
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.6;
    font-weight: 400;
    max-width: 600px;
    margin-top: 1rem;
}

/*Experience-----------------------*/

.experience{
    margin-top: 6rem;
}
.experience-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 800;
}

.experience-card {

    background: var(--glass);

    backdrop-filter: blur(12px);

    border-radius: 1rem;

    padding: 2rem;

    border: 1px solid var(--border-light);

    transition: .25s ease;
}

body.dark .experience-card {
    border: 1px solid var(--border-dark);
}

.experience-card:hover {
    transform: translateY(-6px);
}

.experience-header {

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1rem;
}

.experience-header h3 {
    font-size: 1.3rem;
    font-weight: 700;
}

.experience-date {

    padding: .35rem .75rem;

    border-radius: 999px;

    background: rgba(55, 19, 236, .1);

    color: var(--primary);

    font-weight: 600;

    font-size: .85rem;
}

body.dark .experience-date {
    color: var(--text-dark);
    background: rgba(139, 177, 221, 0.1);
}

.experience-description {

    line-height: 1.7;

    opacity: .9;

    max-width: 65ch;
}

.project-header {

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 1rem;
}

.project-header h3{
    margin:0;
}
.experience-date {
    white-space: nowrap;
}

/*CARTAS DE PROYECTOS----------------------------*/
.projects-grid {
    display: grid;
    gap: 2rem;
}
@media(min-width:900px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*card*/

.project-card {

    display: flex;
    gap: 1.5rem;

    padding: 1.8rem;

    border-radius: 1rem;

    border: 1px solid var(--border-light);

    background: rgba(255, 255, 255, .6);

    backdrop-filter: blur(10px);

    transition: .25s ease;
}

body.dark .project-card {
    border: 1px solid var(--border-dark);
    background: rgba(255, 255, 255, .03);
}

.project-card:hover {
    transform: translateY(-6px);
}

.project-image img {

    width: 160px;
    height: 120px;

    object-fit: cover;

    border-radius: .7rem;

    transition: .3s;
}

.project-card:hover img {
    transform: scale(1.05);
}

.tech-tags {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    margin-top: .8rem;
}

.tech-tags li {

    list-style: none;

    font-size: .75rem;

    padding: .25rem .6rem;

    border-radius: 999px;

    background: rgba(55, 19, 236, .08);

    color: var(--primary);

    font-weight: 600;
}

body.dark .tech-tags li {
    color: var(--text-dark);
    background: rgba(139, 177, 221, 0.1);
}

/*Botón cambiar tema*/

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    --background: #28096b;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: .5s;
}

input:checked+.slider {
    background-color: #3f7ddb;
}

input:checked+.slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
}

/*----------------------*/